/node_modules
/public/hot
/public/storage
/public/fonts
/storage/*.key
/vendor
/.idea
/.vscode
/nbproject
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
public/assets
*.bak
*.sql
*.tar.xz
*.index
public/mix-manifest.json
public/images/vendor
public/splices
/storage/*.index