// Colors
$orange: #F9320B;
$red: #B70909;
$blue:#151540;
$dark-blue:#0f0f2d;
$light-blue:#F5F9FF;
$black:#000;
$white:#FFF;
$gray:#EDEDEE;
.white{
	color:$white;
}
.red{
	color:$red;
}
.gray{
	color:gray;
}
.dark-blue{
	color:$dark-blue
}